<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="style.css">


style
  include ../static/style.css


</head>
<body>

<div class="topnav" id="myTopnav">
  

  <a href="/"  class="active">Home</a>
  <a href="/Meal">Meal</a>
    <a href="/Services">Services</a>
  <a href="/Contact">Contact us</a>
  <a href="/Login">Login</a>




  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
<form action="/#" method="POST">
  <div class="search">
    <input type="text" name="trainnumber" class="trainnumber" placeholder="Enter train Number" required>
    <input type="submit" value="find Trains" class="a">
    </form>
</div>
</div>

<form action="/" method="POST">
<label>
  Enter your Journey Date:      
  <input type="date" name="asd"  class="Arrival" required>
</label>


<main>

  

  <div class="train">
   
    
    <div class="firstbox">

    <div class="Arrival">

      
      <input type="text" name="name" placeholder="Boarding Station" id="Boarding" required>
   
  </div>


  <div class="To">
    <i style="font-size:44px" class="fa">&#xf0a9;</i>
  </div>


  <div class="Destination">
    <input type="text" name="name1" placeholder="Destination Station" id="Boarding" required>
  </div>

 
</div>
<div>
  <input type="submit"  class="abc" value="search">

</div>
</form>



</div>
<div class="add1">
  <h1>
    hi Welcome To Indian Railways<br>
    <br>
    hi Have a Safe Journey!
  
  </h1>
  </div>

 
</main>

<footer>
<div class="end">
 copyright <br>
 <br>
  hi Shivam Kumar Singh<br>
 <br>
  hi Thanks for visiting<br><br>
  hi Give your feedback<br>

</div>
</footer>



script
      include ../static/javas.js


</body>
</html>
